In [2]:
import pandas as pd

In [ ]:
Dataset_Marks=[23,4,75,87,98,9,65,54,43,65,76,87,34,23,64,76,87,98,67]
df=pd.DataFrame(Dataset_Marks,columns=['Marks']) # df is used for table making
print("Marks: ", Dataset_Marks)
print(df)

Marks:  [23, 4, 75, 87, 98, 9, 65, 54, 43, 65, 76, 87, 34, 23, 64, 76, 87, 98, 67]
    Marks
0      23
1       4
2      75
3      87
4      98
5       9
6      65
7      54
8      43
9      65
10     76
11     87
12     34
13     23
14     64
15     76
16     87
17     98
18     67

In [23]:
mean=df["Marks"].mean()
print(mean)

59.73684210526316

In [24]:
median=df["Marks"].median()
print(median)

65.0

In [13]:
Data=pd.read_csv("studentPerformanceFactors.csv")
print(Data)

      Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0                23          84                  Low                High
1                19          64                  Low              Medium
2                24          98               Medium              Medium
3                29          89                  Low              Medium
4                19          92               Medium              Medium
...             ...         ...                  ...                 ...
6602             25          69                 High              Medium
6603             23          76                 High              Medium
6604             20          90               Medium                 Low
6605             10          86                 High                High
6606             15          67               Medium                 Low

     Extracurricular_Activities  Sleep_Hours  Previous_Scores  \
0                            No            7               73
1                            No            8               59
2                           Yes            7               91
3                           Yes            8               98
4                           Yes            6               65
...                         ...          ...              ...
6602                         No            7               76
6603                         No            8               81
6604                        Yes            6               65
6605                        Yes            6               91
6606                        Yes            9               94

     Motivation_Level Internet_Access  Tutoring_Sessions Family_Income  \
0                 Low             Yes                  0           Low
1                 Low             Yes                  2        Medium
2              Medium             Yes                  2        Medium
3              Medium             Yes                  1        Medium
4              Medium             Yes                  3        Medium
...               ...             ...                ...           ...
6602           Medium             Yes                  1          High
6603           Medium             Yes                  3           Low
6604              Low             Yes                  3           Low
6605             High             Yes                  2           Low
6606           Medium             Yes                  0        Medium

     Teacher_Quality School_Type Peer_Influence  Physical_Activity  \
0             Medium      Public       Positive                  3
1             Medium      Public       Negative                  4
2             Medium      Public        Neutral                  4
3             Medium      Public       Negative                  4
4               High      Public        Neutral                  4
...              ...         ...            ...                ...
6602          Medium      Public       Positive                  2
6603            High      Public       Positive                  2
6604          Medium      Public       Negative                  2
6605          Medium     Private       Positive                  3
6606          Medium      Public       Positive                  4

     Learning_Disabilities Parental_Education_Level Distance_from_Home  \
0                       No              High School               Near
1                       No                  College           Moderate
2                       No             Postgraduate               Near
3                       No              High School           Moderate
4                       No                  College               Near
...                    ...                      ...                ...
6602                    No              High School               Near
6603                    No              High School               Near
6604                    No             Postgraduate               Near
6605                    No              High School                Far
6606                    No             Postgraduate               Near

      Gender  Exam_Score
0       Male          67
1     Female          61
2       Male          74
3       Male          71
4     Female          70
...      ...         ...
6602  Female          68
6603  Female          69
6604  Female          68
6605  Female          68
6606    Male          64

[6607 rows x 20 columns]

In [14]:
print(df.head())

   Marks
0     23
1      4
2     75
3     87
4     98

In [15]:
print(df.shape)

(13, 1)

In [16]:
print(df.columns)

Index(['Marks'], dtype='object')

In [17]:
print(df.dtypes)

Marks    int64
dtype: object

In [18]:
# missing values
print(df.isnull().sum())

Marks    0
dtype: int64

In [20]:
# remove duplicates
df=df.drop_duplicates()

## Self Code for mean

In [31]:
totalsum=sum(Dataset_Marks)
print(totalsum)
totallength=len(Dataset_Marks)
print(totallength)

1135
19

In [32]:
# mean
mean=totalsum/totallength
print(mean)

59.73684210526316

## SELF CODE FOR VARIANCE

In [43]:
sumsqdiff=0
for mark in Dataset_Marks:
    diff=mark-mean
    squared=diff**2
    sumsqdiff +=squared
variance=sumsqdiff/(totallength-1)
print(variance)

855.6491228070175

In [44]:
varian=df["Marks"].var()
print(varian)

855.6491228070175